* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color:rgb(243, 81, 243);
}
.links {
    font-size: 18px;
    
}

.links a {
    color: black;
}

h1 ,h2, h3{
    color: white;
    background-color: rgba(26, 206, 74, 0.874);
    font-weight: bold;
    width: fit-content;
    padding: 5px;
}


ul, ol, p {
 background-color: rgba(26, 206, 74, 0.756);
 width: fit-content;

}

li {
    padding: 5px;
}
